<div id="step-numbers">
    <div id="step-number-1" class="active-step"></div>
    <div id="step-number-2"></div>
    <div id="step-number-3"></div>
    <div id="step-number-4"></div>
    <div id="step-number-5"></div>
    <div id="step-number-6"></div>
</div>

<div id="controls">

    <div id="step-controls-1" class="step-controls active-step">
        <h2><%= t :generator_step_1h %></h2>
        <p><%= t :generator_step_1p %></p>
        
        <div class="selector-container">
        <select id="select-background">
          <option value="0"><%= t :generator_user_image %></option>
          <option value="1">Hagen</option>
          <option value="2">Witten</option>
          <option value="3">Wetter</option>
          <option value="4">Herdecke</option>
          <option value="5">Hattingen</option>
        </select>
        </div>
        
    </div>

    <div id="step-controls-2" class="step-controls">
        <h2><%= t :generator_step_2h %></h2>
        <p><%= t :generator_step_2p %></p>

        <div class="selector-container">
        <select id="select-disaster">
          <option value="0"><%= t :generator_none %></option>
          <option value="1"><%= t :generator_lightning %></option>
          <option value="2"><%= t :generator_fire %></option>
          <option value="3"><%= t :generator_traffic %></option>
          <option value="4"><%= t :generator_boredom %></option>
          <option value="5"><%= t :generator_love %></option>
        </select>
        </div>
        
    </div>

    <div id="step-controls-3" class="step-controls">
        <h2><%= t :generator_step_3h %></h2>
        <p><%= t :generator_step_3p %></p>
        <div class="selector-container">
        <select id="select-silhouette">
          <option value="0"><%= t :generator_none %></option>
          <!--option value="1"><%= t :generator_sky %></option-->
          <option value="2"><%= t :generator_xray %></option>
          <option value="3"><%= t :generator_drill %></option>
          <option value="4"><%= t :generator_hammer %></option>
          <option value="5"><%= t :generator_beard %></option>
          <option value="6"><%= t :generator_megaphone %></option>
          <option value="7"><%= t :generator_pigeon %></option>
        </select> 
        </div>
        <p><%= t :generator_browser1_html %></p>
               
    </div>

    <div id="step-controls-4" class="step-controls">
        <h2><%= t :generator_step_4h %></h2>
        <p><%= t :generator_step_4p %></p>
        <div class="selector-container">
        <button id="snap"><%= t :generator_snap %></button>
        <button id="clear"><%= t :generator_clear %></button>
        </div>
        <p><%= t :generator_browser1_html %></p>
    </div>
    
    <div id="step-controls-5" class="step-controls">
        <h2><%= t :generator_step_5h %></h2>
        <p><%= t :generator_step_5p %></p>
    </div>
    
    <div id="step-controls-6" class="step-controls">
        <h2><%= t :generator_step_6h %></h2>
        <p><%= t :generator_step_6p %></p>
        <div class="selector-container">
        <button id="submit"><%= t :generator_submit %></button>
        <span class="wait"><%= t :generator_wait %></span>			
        </div>
        <p><%= t :generator_browser2_html %></p>
    </div>
        
    <div id="generator-step-nav">
        <div id="prev-step"><%= t :generator_previous %></div>
        <div id="next-step"><%= t :generator_next %></div>
    </div>

</div> 

<canvas id="canvas" width="400" height="565"></canvas>
<div id="canvas-inline"></div>

<div id="titles">
 	<input id="title" class="poster-title" value="<%= t :generator_title %>">
 	<input id="subtitle" class="poster-title" value="<%= t :generator_subtitle %>">
</div>



