<nav id="navigation" <% if @transparent %> class="transparent" <% end %>>
	<div class="slide">
		<a href="<%= root_path %>"><img id="small-logo" src="assets/logo_small3.png" class="front-link"></a>

		<ul class="navigation">

        <% if request.path.include?('info') %>
          <li><a href="#about" class="about-link"><%= t :menu_about %></a></li>
        <% else request.path.include?('apply') %>
          <li>
            <%= link_to t(:menu_about), url_for(:controller => 'welcome', :action => 'project_info', :anchor => 'about') %>
          </li>
        <% end %>

        <li>
          <%= link_to t(:menu_schedule), url_for(:controller => 'welcome', :action => 'schedule'), :class => (request.path.include?('schedule')? "active" : "inactive") %>
        </li>

        <li>
          <%= link_to t(:menu_teams), url_for(:controller => 'welcome', :action => 'teams'), :class => (request.path.include?('teams')? "active" : "inactive") %>
        </li>

        <li>
          <%= link_to t(:menu_volunteers), url_for(:controller => 'welcome', :action => 'mitmachen'), :class => (request.path.include?('mitmachen')? "active" : "inactive") %>
        </li>

        <br>
      
        <% if request.path.include?('info') %>

          <li>
            <%= link_to t(:menu_open_call), url_for(:controller => 'welcome', :action => 'open_call'), :class => (request.path.include?('apply')? "active" : "inactive") %>            
          </li>

          <li><a href="#partners" class="partners-link"><%= t :menu_partners %></a></li>
          <li><a href="#gallery" class="gallery-link"><%= t :menu_gallery %></a></li>

        <% elsif request.path.include?('apply') %>


          <li>
            <%= link_to t(:menu_open_call), url_for(:controller => 'welcome', :action => 'open_call'), :class => "active" %>            
          </li>

          <li>
            <%= link_to t(:menu_partners), url_for(:controller => 'welcome', :action => 'project_info', :anchor => 'partners') %>
          </li>

          <li>
            <%= link_to t(:menu_gallery), url_for(:controller => 'welcome', :action => 'project_info', :anchor => 'gallery') %>
          </li>

        
        <% end %>


      
		</ul>
		<div id="language">
			
			<a hreflang="en" href="/?locale=en" <% if I18n.locale == :en %>class="active"<% end %>>ENGLISH</a><br>
			<a hreflang="de" href="/?locale=de" <% if I18n.locale == :de %>class="active"<% end %>>DEUTSCH</a>
		</div>
	</div>
</nav>
