<nav id="navigation">
	<div class="slide">
		<img id="small-logo" src="assets/logo_small3.png" class="front-link">
		<ul class="navigation">
			<li><a href="#about" class="about-link"><%= t :menu_about %></a></li>
			<li><a href="#posters" class="gallery-link"><%= t :menu_gallery %></a></li>
			<li><a href="#generator" class="generator-link"><%= t :menu_generator %></a></li>
			<li><a href="#championship"><%= t :menu_championship %></a></li>
			<li><a href="#suggest"><%= t :menu_suggest %></a></li>
			<li><a href="#partners"><%= t :menu_partners %></a></li>

		</ul>
		<div id="language">
			
			<a hreflang="en" href="/?locale=en" <% if I18n.locale == :en %>class="active"<% end %>>EN</a><br>
			<a hreflang="de" href="/?locale=de" <% if I18n.locale == :de %>class="active"<% end %>>DE</a>
		</div>
	</div>
</nav>
<div class="nav-bg">
	<div class="slide">
		<a href="#" class="prev"><</a>
		<a href="#" class="next">></a>
		<div class="sharing-menu">
            <span>Share This Poster!</span>
            <a href="#" id="share-link">Link</a>
            <a href="#" id="share-twitter">Twitter</a>
            <a href="#" id="share-facebook">Facebook</a>
        </div>
	</div>
</div>

<div id="front-cover">

	<div id="shadow"></div>
	
	<div id="canvas-outline"></div>
	

	<img src="assets/logoschatten_neu.png">
    <div class="logo-text slide">72 HOUR INTERACTIONS</div>

	<div class="credits-container">
		<div class="credits left">
			<%= t :subtitle_left_html %>
		</div>	
	</div>

	<div id="shadow2"></div>
	
</div>

<div id="generator">
		<%= render :partial => 'posters/generator' %>	
</div>

<div id="posters">

	<ul id="carousel" class="owl-carousel">

		<% if @posters.length > 0 %>
            <%= render :partial => 'posters/gallery_template', :locals => {:poster => @posters.last} %>
        <% end %>
        
        
        <% if @posters.length > 0 %>
				<%= render :partial => 'posters/gallery_template', :locals => {:poster => @posters[0]} %>
		<% end %>

		<li class="item">
			<div id="mainframe">				
				<br><br><br>
				<a href="#" class="generator-link"><%= t :poster_claim_html %></a><br>
				<a href="#" class="generator-link pink"><%= t :poster_link %></a>
			</div>
		</li>

		<% if @posters.length > 1	%>			
			<% @posters[1..(@posters.length-1)].each do |poster| %>
				<%= render :partial => 'posters/gallery_template', :locals => {:poster => poster} %>
				<% end %>
		<% end %>

		<% if @posters.length > 0 %>
            <%= render :partial => 'posters/gallery_template', :locals => {:poster => @posters.first} %>
        <% end %>

	</ul>
</div>

<div id="content">

	<div class="credits-container">
		<div class="credits left">
			<%= t :subtitle_left_html %>
		</div>
		<div class="credits right">
			<%= t :subtitle_right_html %>
		</div>
	</div>

	<section id="about">

			<h3><%= t :section_about_headline %></h3>
			<%= t :section_about_content_html %>

	</section>

	<section id="championship">
			<h3><%= t :section_championship_headline %></h3>
			<%= t :section_championship_content_html %>

            <%= form_for(@user, :html => {:class => "border-top"}, :remote=>true, 'data-type' => 'json') do |f| %>
				<label for="user_email"><%= t :section_championship_label_html %></label>
                <%= f.text_field :email, type: "email", required: "required" %>
				<%= f.submit t(:form_submit) %>
            <% end %>
            
	</section>

	<section id="suggest">

			<h3><%= t :section_site_headline %></h3>
			
			<%= t :section_site_content1_html %>
			
            <!--
            <%= form_for(@site, :html => {:class => "border-bottom"}, :remote=>true, 'data-type' => 'json') do |f| %>

				<label for="site_description"><%= t :section_site_label_place %></label>
                <%= f.text_area :description, required: "required" %>

				<label for="site_reason"><%= t :section_site_label_why %></label>
                <%= f.text_area :reason, required: "required" %>

				<label for="site_name"><%= t :section_site_label_name %></label>
                <%= f.text_field :name, required: "required" %>
                
				<label for="site_email"><%= t :section_site_label_email %></label>
                <%= f.text_field :email, type: "email", required: "required" %>

				<%= f.submit t(:form_submit) %>
                
                <label><%= t :section_site_notice_email_html %></label>
            <% end %>
            -->
            			
			<%= t :section_site_content2_html %>
			
	</section>	
	
	<section id="partners">
			<h3><%= t :section_partners_headline %></h3>
			<%= t :section_partners_content_html %>
	</section>

	<section id="contact">
			<h3><%= t :section_contact_headline %></h3>
			<%= t :section_contact_content_html %>
	</section>

	
	<div style="clear:both"></div>
</div>