<%= render 'navigation' %>

<div id="content">

	<section id="open_call_video">
			<h3><%= t(:open_call_headline_0) %></h3>
      <p><iframe class="center" width="650" height="366" src="//www.youtube.com/embed/d82m2FsXbUo" frameborder="0" allowfullscreen></iframe></p>
  </section>

	<section id="open_call_info">
			<h3><%= t(:open_call_headline_1) %></h3>
      <%= render "call_info" %>
	</section>

	<section id="open_call_form">
			<h3><%= t(:open_call_headline_2) %></h3>
			<p>coming sooon...</p>
	</section>

	<section id="open_call_faw">
			<h3><%= t(:open_call_headline_3) %></h3>
			<%= render "faq" %>
	</section>

</div>