<%= render 'navigation' %>

<div id="content">

	<section id="open_call_video">
			<h3><%= t(:open_call_headline_0) %></h3>
      <p>  <iframe class="center" width="650" height="366" src="//www.youtube.com/embed/PDEpFxsS6uY" frameborder="0" allowfullscreen></iframe></p>
  </section>

	<section id="open_call_info">
			<h3><%= t(:open_call_headline_1) %></h3>
      <%= render "call_info" %>
	</section>

	<!--section id="open_call_form">
			<h3><%= t(:open_call_headline_2) %></h3>
      <p><script type="text/javascript" src="http://form.jotformeu.com/jsform/40845533938362"></script></p>
	</section-->

	<section id="open_call_faw">
			<h3><%= t(:open_call_headline_3) %></h3>
			<%= render "faq" %>
	</section>

	<section id="contact">
			<h3><%= t :section_contact_headline %></h3>
			<%= t :section_contact_content_html %>
	</section>


</div>